{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
%}
<h1>This is the Signicat Developer Test</h1>
{% if boolean == True %} <h4>The user is authenticated </h4>{% else %} <h4>Please
authenticate</h4>{% endif %}
<form method="post" action="/">
  <div class="d-flex flex-column justify-content-center w-50">
    
    {% if boolean == True %}<input
      type="submit"
      name="display"
      value="Display User"
    /> {% else %}
      <input type="submit" name="authenticate" value="Authenticate User"/>
    {% endif %}
  </div>
</form>
{% endblock %}
