{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
%}
<h1>This is the Signicat Developer Test</h1>
{% if boolean == True %} The user is authenticated {% else %} Please
authenticate {% endif %}
<p>{{text}}</p>
<form method="post" action="/">
  <div class="d-flex flex-column justify-content-center w-50">
    
    {% if boolean == True %}<input
      type="submit"
      name="display"
      value="Display User"
      class="m-10"
    /> {% else %}
      <input type="submit" name="authenticate" value="Authenticate User" class="m-10"/>
    {% endif %}
  </div>
</form>
{% endblock %}
